body {
  font-family: 'Lora', serif;
}

.site-full-site-width{
  margin:0 auto;
  max-width:1400px;
}

.site-top-logo-row{
  height:56px;
  padding:10px 24px;
  background: #1e88e5;
  color: #f7f7f7;
  font-size: 41px;
}

.site-under{
  font-size: 31px;
}
